.playlist-menu {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  background-color: #000000;
}

.playlist-menu h2 {
  margin: 0;
  padding: 0 0 10px 0;
  color: #f1f1f1;
}
.playlist-menu-input {
  box-sizing: border-box;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  font-family: "Jost";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  padding-left: 5px; /* add this line */
  color: white; /* add this line */
}
.playlist-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.playlist-menu li {
  padding: 5px 0;
  border-bottom: 1px solid #444;
  transition: background-color 0.3s ease;
}

.playlist-menu li:last-child {
  border-bottom: none;
}

.playlist-menu li:hover {
  background-color: #444;
}

.playlist-menu a {
  color: #f1f1f1;
  text-decoration: none;
}

.playlist-menu a:hover {
  text-decoration: underline;
}
.playlistmenu-button {
  background: rgba(217, 217, 217, 0.2);
  border-radius: 20px;
  padding: 5px 10px; /* increase padding to make button bigger */
  font-size: 14px;
  color: white;
  margin-right: 4px;
  margin-top: 10px; /* add margin-top to add space from the top */
}

.playlistmenu-button:hover {
  background-color: #636363;
}

.playlistmenu-button:focus {
  outline: none;
}

.delete-button {
  background-color: #f86c6b;
  color: #fff;
  font-weight: bold;
}

.delete-button:hover {
  background-color: #e53e3e;
}
