body {
  background-color: #1e1e1e;
  color: white;
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}
button {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
}
input[type="text"] {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
}
/* Track */

/* Handle */
::-webkit-scrollbar-thumb {
  position: absolute;
  width: 5px;
  height: 235px;

  background: #424758;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #424758;
}
/* Set the width of the scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
:root {
  --left-fixed-width: 320;
  /*--bottom-fixed-height: calc(130 * (min(100vh, 1440vh) / 1440));*/
  --bottom-fixed-height: 100px;
}
.container {
  display: flex;
  height: calc(100vh - var(--bottom-fixed-height));
}
.left-fixed {
  height: calc(100%);

  width: calc(100vw * (var(--left-fixed-width) / 2560));

  background-color: #000000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.main-content {
  flex-grow: 1;

  background: #0c0c0d;

  overflow-y: auto; /* Enable vertical scroll when needed */
}
.bottom-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--bottom-fixed-height);
  background: #151617;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}
.open-folder {
  margin-bottom: 0px;
}

.song-metadata {
  position: absolute;
  bottom: 0;
  padding-bottom: var(--bottom-fixed-height);
  margin: 0;
  line-height: 0;
  box-sizing: border-box;
}

.App-link {
  color: #61dafb;
}

/* Hover effects */
.left-fixed a:hover,
.App-link:hover,
.playlist-menu a:hover {
  color: #61dafb;
  text-decoration: none;
  transition: color 0.3s;
}
