.left-fixed {
  position: absolute;
  top: 0;
  left: 0;

  border: 1px;
  width: 250px;
  height: 100%;

  border-right: 1px solid red;
}
.open-folder {
  margin-bottom: 20px;
}
.song-metadata {
  margin-bottom: 20px;
}

.playlist-menu {
}

.bottom-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 130px;
}

.main-content {
  margin-left: 250px;
  padding-bottom: 80px;
}
.App-link {
  color: #61dafb;
}

.song-metadata {
  position: absolute;
  left: 0;
  bottom: 90px;
}
.container {
  display: flex;
  align-items: center;
}
