.progress-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 9px;
}

.progress-time-left {
  margin-left: 1%; /* Add margin to the left */
  margin-right: 4px;
}

.progress-time-right {
  margin-left: 4px;
  margin-right: 1%; /* Add margin to the right */
}

.progress-bar {
  height: 7px;
  width: 98%;
  background: #272954;
  cursor: pointer;
  position: relative;
}

.progress {
  height: 100%;
  background-color: white;
}

.big-dot {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
}
