.body {
  display: flex;
}
.progress-bar {
  width: 30%;
  height: 10px;
  background-color: #888;
  cursor: pointer;
  position: relative;
}

.progress {
  height: 100%;
  background-color: #38d7ff;
}
