.progress-container {
  display: flex;
  margin: 0 auto; /* this will center the page */
  width: 960px; /*  use your width here */
  flex: 1;
  padding: 0 1%;
}
.progress-time-container {
  display: flex;
}
.progress-time-left {
  margin-left: 1%;
}
.progress-time-right {
  margin-left: auto;
  margin-right: 1%;
}
.progress-bar {
  height: 10px;
  width: 98%;
  background-color: #888;
  cursor: pointer;
  position: relative;
  margin: 0 auto;
}

.progress {
  height: 100%;
  background-color: #38d7ff;
}
