.volume-control {
  appearance: none;
  width: 100%;
  height: 10px;
  background: linear-gradient(
    to right,
    white 0%,
    white var(--filled-width, 0%),
    rgba(71, 76, 82, 1) var(--filled-width, 0%),
    rgba(71, 76, 82, 1) 100%
  );
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  border-radius: 5px;
  cursor: pointer;
}

.volume-control:hover {
  opacity: 1;
}

.volume-control::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}

.volume-control::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}

.volume-control::-moz-range-progress {
  background-color: white;
  height: 10px;
  border-radius: 5px;
}

.volume-control-container {
  width: 200px;
  margin: 15px;
}
